.grid {
  display: grid;
  width: 100%;
  justify-content: center;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, 150px);
  grid-template-rows: repeat(auto-fit, minmax(240px, 240px));
  grid-auto-rows: 240px;
  margin-bottom: 90px;
}

.grid > * {
  -webkit-clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

.block {
  position: relative;
  height: 300px;
  grid-column: 2 span;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dj-photo-hex {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-clip-path: inherit;
  clip-path: inherit;
}

.dj-info-hex {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  -webkit-clip-path: inherit;
  clip-path: inherit;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
  transition: opacity 0.3s ease;
}

.dj-info-hex h3 {
  margin: 0;
  font-size: 1.2em;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 462px) {
  .grid {
    grid-template-columns: repeat(auto-fit, 150px);
    grid-template-rows: 172.5px;
    grid-auto-rows: 172.5px;
    margin-bottom: 22.5px;
  }
  .block {
    height: auto;
    -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0 50%);
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0 50%);
  }
}
@media screen and (min-width: 463px) and (max-width: 612px) {
  .block:nth-child(2),
  .block:nth-child(2n+4) {
    grid-column: 2/span 2;
  }
}
@media screen and (min-width: 613px) and (max-width: 762px) {
  .block:nth-child(3),
  .block:nth-child(3n+6) {
    grid-column: 2/span 2;
  }
}
@media screen and (min-width: 763px) and (max-width: 912px) {
  .block:nth-child(3),
  .block:nth-child(4n+7) {
    grid-column: 2/span 2;
  }
}
@media screen and (min-width: 913px) and (max-width: 1062px) {
  .block:nth-child(4),
  .block:nth-child(5n+9) {
    grid-column: 2/span 2;
  }
}
@media screen and (min-width: 1063px) and (max-width: 1212px) {
  .block:nth-child(4),
  .block:nth-child(6n+10) {
    grid-column: 2/span 2;
  }
}
@media screen and (min-width: 1213px) and (max-width: 1362px) {
  .block:nth-child(5),
  .block:nth-child(7n+12) {
    grid-column: 2/span 2;
  }
}
@media screen and (min-width: 1363px) and (max-width: 1512px) {
  .block:nth-child(5),
  .block:nth-child(8n+13) {
    grid-column: 2/span 2;
  }
}
@media screen and (min-width: 1513px) and (max-width: 1662px) {
  .block:nth-child(6),
  .block:nth-child(9n+15) {
    grid-column: 2/span 2;
  }
}
@media screen and (min-width: 1663px) and (max-width: 1812px) {
  .block:nth-child(6),
  .block:nth-child(10n+16) {
    grid-column: 2/span 2;
  }
}
@media screen and (min-width: 1813px) and (max-width: 1962px) {
  .block:nth-child(7),
  .block:nth-child(11n+18) {
    grid-column: 2/span 2;
  }
}
@media screen and (min-width: 1963px) and (max-width: 2112px) {
  .block:nth-child(7),
  .block:nth-child(12n+19) {
    grid-column: 2/span 2;
  }
}/*# sourceMappingURL=whoweare.css.map */